Restrict media types to RFC 6838

Originally, I based my parser for media types based on [RFC 2045](https://www.ietf.org/rfc/rfc2045.txt) and [RFC 2046](https://www.ietf.org/rfc/rfc2046.txt). I should restrict it to [RFC 6838](https://tools.ietf.org/html/rfc6838) which is much newer and more restrictive.
